# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native build outputs
android/
ios/

# Environment
.env
.env.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS / editors
.DS_Store
.vscode/
.idea/
